# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
c = conn.cursor()

## Display the names of all the employees in Boston.

In [2]:
#Your code here
c.execute("""SELECT firstName, lastName FROM employees e
                                      JOIN offices o
                                      ON e.officeCode = o.officeCode
                                      WHERE city = 'Boston'
                                      ;
          """).fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?

In [3]:
#Your code here
c.execute("""SELECT * FROM offices o
                      LEFT JOIN employees e
                      ON o.officeCode = e.officeCode
                      WHERE e.officeCode IS NULL
                      ;""").fetchall()

[]

## Write 3 Questions of your own and answer them

In [4]:
# Answers will vary
question_one = "Which employee has the most customers?"
question_two = "What states are the customers who have not ordered anything in?"
question_three = "What is the average price of ordered products vs unordered products?"

In [19]:
# Your code here
sales_reps = c.execute("""SELECT firstName, lastName FROM employees e
                                        INNER JOIN customers c
                                        ON e.employeeNumber = c.salesRepEmployeeNumber
                                        """).fetchall()
customer_numbers = {}
for rep in sales_reps:
    if rep in customer_numbers:
        customer_numbers[rep] += 1
    else:
        customer_numbers[rep] = 1        
answer_one = [rep for (rep, customers) in customer_numbers.items() if customers == max(customer_numbers.values())]
print(answer_one)

[('Pamela', 'Castillo')]

In [24]:
# Your code here
states = c.execute("""SELECT state FROM customers c
                                    LEFT JOIN orders o
                                    ON c.customerNumber = o.customerNumber
                                    WHERE o.customerNumber IS NULL""").fetchall()
states

[('',),
 ('CT',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('Co. Cork',),
 ('Pretoria',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',)]

In [7]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [8]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [9]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!